
.card-custom{
    width: 100%;
    min-width: 150px;
    box-shadow: 1px 5px 25px 0px rgba(117,112,112,0.55);
    -webkit-box-shadow: 1px 5px 25px 0px rgba(117,112,112,0.55);
    -moz-box-shadow: 1px 5px 25px 0px rgba(117,112,112,0.55);
    min-height: 150px;
    ul{
        list-style-type: none;
        margin: 40px;
        li{
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
    .value
    {
        font-weight: 500;
    }
}
.add-card{
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    :hover>a{
        color: gray !important;
    }
    a{
        color: black !important;
    }
  
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    flex-wrap: wrap;
}
