.no-agency {
  background-color: #BBB;
  height: 100%;
  .container {
    height: 100%;
  }
  .alert {
    padding: 2rem 2rem 1rem;
    border-radius: .5rem;
    background-color: #BBB;
    border: 2px dashed #888;
    text-align: center;
    p {
      font-size: 1.5rem;
    }
  }
}
.tag{
  font-weight: 600;
  margin: 0 !important;
  text-decoration: underline;
}
.value{
  color: rgb(98, 98, 98);
}

.sticker{
  padding: 10px;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  &:nth-child(1){
    background-color: rgb(206, 97, 97);
  }
  &:nth-child(2){
    background-color: rgb(131, 177, 103);
  }
  &:nth-child(3){
    background-color: rgb(184, 109, 223);
  }
  &:nth-child(4){
    background-color: rgb(79, 64, 137);
  }
  .small{
    font-size: 0.8rem;
    margin: 0;
  }
}

.review{
  background-color: rgb(226, 226, 226);
  padding: 30px;
  margin-bottom: 18px;
  img{
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #b56e6e;
      padding: 4px;
  }
  .title{
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 0px;
  }
  .comment{
      margin: 15px 0;
  }
  .date{
      margin: 0;
  }
}