@use "../variables" as *;
// NAVBAR
.navbar {
  min-height: 4rem;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: saturate(180%) blur(20px);
  .active {
    color: $cyan !important;
    border-bottom: 2px solid $cyan;
  }
  .nav-link {
    transition: all 300ms linear;
    position: relative;
    font-size: 1.1rem;
    &:hover,
    &:focus,
    &:active {
      color: $cyan !important;
    }
    &:hover::after,
    &:focus::after {
      content: "";
      position: absolute;
      top: 2.65rem;
      left: 0;
      height: 0;
      width: 0;
      z-index: 1;
      border-bottom: 2px solid $cyan;
      animation: grow 300ms linear;
      animation-fill-mode: forwards;
    }
    @keyframes grow {
      100% {
        width: 100%;
      }
    }
  }
  .dropdown-item {
    transform: all 300ms linear;
    &:hover,
    &:focus {
      background-color: transparent;
      color: $cyan;
      border-left: 5px solid $cyan;
    }
  }
  .auth {
    gap: 10px;
    > img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
    }
  }
}
// HERO
.hero {
  background-color: #eee;
  background-image: url("../../../public/images/home-hero-md.jpg");
  width: 100%;
  height: calc(101vh - 4rem); // 101vh - navbar height
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 0 0 5rem 5rem;
  position: relative;
  &_content {
    .search-panel {
      .row {
        margin-bottom: 1rem;
      }
      h2 {
        text-align: center;
        margin-bottom: 2rem;
      }
      position: absolute;
      background-color: rgba($color: #fff, $alpha: 0.9);
      top: 70%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      padding: 1rem 3rem;
      border-radius: 1rem;
      width: 75vw;
      box-shadow: $box-shadow;
      .mapboxgl-ctrl-geocoder {
        width: 100%;
        box-shadow: none;
        border: 0.5px solid #ccc;
        // box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
      }
    }
  }
}
// WHO US
.who-us {
  p {
    font-weight: 500;
    > span {
      color: $indigo;
    }
  }
}
// TESTIMONIALS
.testimonials {
  background-color: $indigo;
  color: #fff;
  .section-header {
    margin-bottom: 4rem;
  }
  .content {
    color: $lightestGrey;
    text-align: center;
  }
  blockquote {
    padding-inline: 1rem;
    font-size: 1.2rem;
    > i {
      font-size: 1.4rem;
      &:first-of-type {
        margin-right: 0.5rem;
      }
      &:last-of-type {
        margin-left: 0.5rem;
      }
    }
  }
  h6 {
    font-size: 1.6rem;
  }
  .carousel-control-next,
  .carousel-control-prev {
    color: $blue;
    font-weight: 300;
    font-size: 2.5rem;
  }
  .carousel-item {
    margin-bottom: 1rem;
  }
}
// OUR PARTNERS
.our-partners {
  .brands {
    margin-bottom: 1rem;
  }
  .brand {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  i {
    font-size: 5rem;
    color: $grey;
  }
  .cta {
    text-align: right;
  }
}
// FOOTER
footer {
  background-color: $indigo;
  padding-top: 2rem;
  color: #fff;
  font-weight: 300;
  .col-12 {
    margin-bottom: 2rem;
  }
  .contact {
    padding-left: 0;
    li {
      font-size: 1.2rem;
      line-height: 1.6;
      > span {
        font-weight: 500;
        &::after {
          content: " : ";
        }
      }
      > i {
        color: $cyan;
        margin-right: 0.5rem;
      }
    }
  }
  .footer-end {
    background-color: $darkestGrey;
    text-align: center;
    padding-bottom: 2rem;
    p > span {
      color: $cyan;
      text-transform: capitalize;
    }
  }
}
.notification {
  padding: 10px;
  color: black;
  width: 350px;
  max-width: 100%;
  display: block;
  &:hover {
    background-color: #eee;
  }
}
.accepted {
  border-left: 3px solid green;
}
.declined {
  border-left: 3px solid red;
}
.abs {
  transform: translateX(-55%);
}
.new-notification-count {
  background: red;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 0 4px;
  border-radius: 50%;
  font-size: 0.7rem;
}
