@use "../variables" as *;
.hero {
  background-color: #eee;
  background-image: url("../../../public/images/home-hero-lg.jpg");
  width: 100%;
  height: calc(100vh - 4rem); // 100vh - navbar height
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 0 0 5rem 5rem;
  position: relative;
  &_content {
    .search-panel {
      .row {
        margin-bottom: 1rem;
      }
      h2 {
        text-align: center;
        margin-bottom: 2rem;
      }
      position: absolute;
      background-color: rgba($color: #fff, $alpha: 0.9);
      top: 70%;
      left: 50%;
      z-index: 5;
      transform: translate(-50%, -50%);
      padding: 1rem 3rem;
      border-radius: 1rem;
      width: 75vw;
      box-shadow: $box-shadow;
      .mapboxgl-ctrl-geocoder {
        width: 100%;
      }
    }
  }
}
.card {
  max-width: 450px;
  text-align: center;
  border: 1px solid lightGrey;
  padding: 35px !important;
  border: 1px solid rgb(196, 196, 196) !important;
  box-shadow: $box-shadow;
  i {
    font-size: 2rem;
    color: rgb(187, 190, 105);
  }
  p {
    color: black;
  }
}

.cards-container {
  gap: 20px;
}
.our-partners {
  h1 {
    text-align: center !important;
  }
  .logos {
    gap: 60px;
    i {
      font-size: 7rem;
    }
  }
}
.wrapper {
  width: 100%;
  height: 350px;
  background-color: rgb(196, 196, 196);
  text-align: center;
}

// @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  text-decoration: none;
  list-style-type: none;
}
.show-on-hover {
  display: none;
  position: absolute;
  top: 62px;

  ul {
    background-color: rgb(236, 236, 236);
    box-shadow: $box-shadow;
    border-radius: 5px;
    padding: 10px 20px !important;
    a {
      color: black !important;
      &:hover {
        text-decoration: underline !important;
        color: rgb(187, 190, 105) !important;
      }
    }
  }
}
.username {
  cursor: pointer;
  &:hover {
    text-decoration: underline !important;
  }
}
.auth:hover > .show-on-hover {
  display: block;
}

.btn-dropdown {
  border: none;
  display: none;
  font-size: 2rem;
  background-color: white;
  @media (max-width: 992px) {
    display: block;
  }
}
#user-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgb(187, 190, 105);
  padding: 3px;
}
nav {
  .a-active {
    color: rgb(187, 190, 105) !important;
  }
  position: relative;
  .dropdown {
    position: absolute;
    z-index: 0;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(187, 190, 105);
    transition: 0.2s ease;
    width: 100%;
    top: -400px;
    li a {
      color: rgb(0, 0, 0) !important;
      padding: 10px;
    }
    &.active {
      top: 62px;
    }
  }
  .container {
    z-index: 3;
    width: 100%;
    padding: 10px 0px;
    .link-list {
      @media (max-width: 992px) {
        display: none;
      }
      ul {
        gap: 10px;
        margin: 0;
        .link {
          color: gray;
          font-weight: 600;
          transition: 0.2s ease;
          &:hover {
            color: rgb(187, 190, 105);
          }
        }
      }
    }
    .brand {
      h1 {
        padding: 0;
        font-size: 1.6rem;
        margin: 0;
      }
      img {
        width: 48px;
      }
    }
    .auth {
      gap: 10px;
      #log-in {
        font-weight: 600;
        background-color: rgb(187, 190, 105);
        color: rgb(255, 255, 255) !important;
        padding: 8px 18px;
        border-radius: 3px;
        transition: 0.2s ease;
        &:hover {
          background-color: rgb(232, 232, 232);
          color: rgb(187, 190, 105) !important;
        }
      }
      #sign-up {
        font-weight: 600;
        background-color: rgb(187, 190, 105);
        color: rgb(255, 255, 255) !important;
        padding: 8px 18px;
        border-radius: 3px;
        transition: 0.2s ease;
        &:hover {
          background-color: rgb(232, 232, 232);
          color: rgb(187, 190, 105) !important;
        }
      }
    }
  }
}
