@use "../variables" as v;
.offer {
  &_media {
    margin-bottom: 1rem;
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }
  &_details {
    table > tbody > tr > th {
      text-transform: capitalize;
    }
  }
  &_rent {
    margin-bottom: 2rem;
  }
}
