@use '../variables' as v;
.resset-password {
  .content {
    width: 450px;
    margin: 0 auto;
    // border: 1px solid v.$lightGrey;
    // border-radius: 2rem;
    // box-shadow: v.$box-shadow;
    padding: 2rem 1rem;
  }
  .success-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($color: v.$green, $alpha: .6);
    font-size: 5rem;
    margin: 1rem;
  }
  h1 {
    font-weight: 500;
    color: v.$indigo;
    margin-bottom: 1rem;
    text-align: center;
  }
  &-form {
    display: flex;
    flex-direction: column;
  }
}

