@use "variables" as v;
.authentication {
  min-height: 100vh;
  margin-inline: 0;
  &_welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$indigo;
    color: #fff;
    text-align: center;
    .content {
      padding: 0 1rem 2rem;
    }
    h2 {
      font-size: 2.5rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
}
.authentication_panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  // padding-bottom: 2rem;
  .section-header {
    color: v.$indigo;
  }
  .content {
    width: 450px;
    border: 0.5px solid #ccc;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: v.$box-shadow;
  }
  .form-authentication {
    display: flex;
    flex-direction: column;
    label {
      font-weight: 500;
      margin-bottom: 0.25rem;
    }
    input {
      margin-bottom: 0.5rem;
      &[type="checkbox"] {
        margin-right: 0.25rem;
      }
    }
    .last {
      margin-bottom: 2rem;
    }
    .login-btn {
      padding-inline: 2rem;
    }
    .inputs {
      box-shadow: none;
      border: 0.5px solid #ccc;
    }
    .hide{
      display: none !important;
    }
    .active {
      display: flex;
    }
  }
  .authentication_options {
    text-align: center;
    .or {
      margin-block: 1rem;
      text-align: center;
    }
  }
}
.center{
  justify-content: center;
}
.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: 300ms all linear;
  border: none;
  border-radius: 1rem;
  color: #4285f4;
  > object {
    margin-right: 0.5rem;
    background-color: white;
    border-radius: 50%;
  }
  &:hover {
    background-color: #4285f4;
    color: #fff;
  }
}
// FOR REGISTER
.image-selector {
  min-height: 5rem;
  cursor: pointer;
  border-radius: .375rem;
  border: 0.5px dashed #ccc;
  position: relative;
  transition: all 300ms linear;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  &::after {
    content: "\2b";
    font-size: 4rem;
    color: v.$blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  &:hover {
    background-color: v.$lightestGrey;
  }
}
.hide {
  position: absolute;
  visibility: hidden;
  z-index: -10;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.file-input {
  cursor: pointer;
}
.invalid {
  border: 1px solid red;
  margin: 0 !important;
}
.step-index {
  font-weight: 700;
  align-self: center;
  padding: 10px;
  margin-top: 10px;
}
.image-preview {
  max-width: 250px;
  cursor: pointer;
}
#next {
  padding-inline: 1.7rem;
}

.worker-type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-bottom: 1.125rem;
  > button {
    &.active {
      color: v.$blue !important;

      &::after {
        content: "";
        position: absolute;
        top: 2.5rem;
        left: 0;
        height: 0;
        width: 0;
        z-index: 1;
        border-bottom: 2px solid v.$blue;
        animation: grow 300ms linear;
        animation-fill-mode: forwards;
      }
    }
    border-bottom: 2px solid v.$lightGrey;
    border-radius: 0;
    transition: all 300ms linear;
    position: relative;
    &:hover{
      color: v.$blue !important;
      &::after {
        content: "";
        position: absolute;
        top: 2.5rem;
        left: 0;
        height: 0;
        width: 0;
        z-index: 1;
        border-bottom: 2px solid v.$blue;
        animation: grow 300ms linear;
        animation-fill-mode: forwards;
      }
    }
    @keyframes grow {
      100% {
        width: 100%;
      }
    }
  }
}
// .form-login-worker.active {
//   display: flex !important;
// }
// .form-login-worker {
//   display: none !important;
// }
