.no-agency {
    background-color: #BBB;
    height: 100%;
    .container {
      height: 100%;
    }
    .alert {
      padding: 2rem 2rem 1rem;
      border-radius: .5rem;
      background-color: #BBB;
      border: 2px dashed #888;
      text-align: center;
      p {
        font-size: 1.5rem;
      }
    }
  }
  .tag{
    font-weight: 600;
    margin: 0 !important;
    text-decoration: underline;
  }
  .value{
    color: rgb(98, 98, 98);
  }