.pick-up-locations {
  padding-top: 2rem;
}
.pick-up-locations .card {
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #888;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pick-up-locations .map-area {
  width: 100%;
  height: 100%;
}

.dropmenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: #eee !important;
  box-shadow: 0px 1.5px 1.9px rgba(0, 0, 0, 0.05), 0px 3.5px 4.3px rgba(0, 0, 0, 0.063), 0px 6.3px 7.7px rgba(0, 0, 0, 0.071), 0px 10.4px 12.8px rgba(0, 0, 0, 0.076), 0px 17.2px 21.2px rgba(0, 0, 0, 0.077), 0px 30.1px 37px rgba(0, 0, 0, 0.072), 0px 65px 80px rgba(0, 0, 0, 0.059);
  border-radius: 5px;
}
.dropmenu .drop-align {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 10px;
}
.dropmenu .drop-align button {
  width: 150px;
}

.show {
  display: block;
}

.fullname.show {
  text-decoration: underline;
  font-weight: bold;
}

.fullname {
  cursor: pointer;
  display: inline;
  position: relative;
}
.fullname .username:hover {
  text-decoration: underline !important;
}

.no-agency {
  background-color: #BBB;
  height: 100%;
}
.no-agency .container {
  height: 100%;
}
.no-agency .alert {
  padding: 2rem 2rem 1rem;
  border-radius: 0.5rem;
  background-color: #BBB;
  border: 2px dashed #888;
  text-align: center;
}
.no-agency .alert p {
  font-size: 1.5rem;
}

.tag {
  font-weight: 600;
  margin: 0 !important;
  text-decoration: underline;
}

.value {
  color: rgb(98, 98, 98);
}

.add-vehicule .container {
  margin-top: 2rem;
}
.add-vehicule .container hr {
  margin-bottom: 2rem;
}
.add-vehicule .container form .row {
  margin-bottom: 1rem;
}
.add-vehicule .container form label {
  font-weight: 500;
}

.card-custom {
  width: 100%;
  min-width: 150px;
  box-shadow: 1px 5px 25px 0px rgba(117, 112, 112, 0.55);
  -webkit-box-shadow: 1px 5px 25px 0px rgba(117, 112, 112, 0.55);
  -moz-box-shadow: 1px 5px 25px 0px rgba(117, 112, 112, 0.55);
  min-height: 150px;
}
.card-custom ul {
  list-style-type: none;
  margin: 40px;
}
.card-custom ul li {
  font-size: 1.2rem;
  font-weight: 700;
}
.card-custom .value {
  font-weight: 500;
}

.add-card {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.add-card :hover > a {
  color: gray !important;
}
.add-card a {
  color: black !important;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  flex-wrap: wrap;
}
