.review {
  background-color: rgb(226, 226, 226);
  padding: 30px;
  margin-bottom: 18px;
}
.review img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #b56e6e;
  padding: 4px;
}
.review .title {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0px;
}
.review .comment {
  margin: 15px 0;
}
.review .date {
  margin: 0;
}

.fullname {
  cursor: pointer;
  display: inline;
  position: relative;
}
.fullname:hover {
  text-decoration: underline;
  font-weight: bold;
}

.trigger:hover > .dropmenu {
  display: block;
}

.dropmenu {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  z-index: 100;
  width: 600px;
  background-color: #eee !important;
  box-shadow: 0px 1.5px 1.9px rgba(0, 0, 0, 0.05), 0px 3.5px 4.3px rgba(0, 0, 0, 0.063), 0px 6.3px 7.7px rgba(0, 0, 0, 0.071), 0px 10.4px 12.8px rgba(0, 0, 0, 0.076), 0px 17.2px 21.2px rgba(0, 0, 0, 0.077), 0px 30.1px 37px rgba(0, 0, 0, 0.072), 0px 65px 80px rgba(0, 0, 0, 0.059);
  border-radius: 5px;
}
.dropmenu .drop-align {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  margin: 10px;
}
.dropmenu .drop-align button {
  width: 150px;
}

img {
  display: block;
  max-width: 100%;
}

.preview {
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin: 10px;
  border: 1px solid red;
}

.modal-lg {
  max-width: 1000px !important;
}
