body {
  overflow: hidden;
}

.admin-login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-login .login-media {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/images/admin-login-background.jpg?76486121d933ff01d504078f2c214c93);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: opacity(85%) blur(10px);
  transform: scale(1.1);
}
.admin-login .login-pannel {
  width: 450px;
  background-color: #fff;
  border: 0.5px solid #ccc;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0px 1.5px 1.9px rgba(0, 0, 0, 0.05), 0px 3.5px 4.3px rgba(0, 0, 0, 0.063), 0px 6.3px 7.7px rgba(0, 0, 0, 0.071), 0px 10.4px 12.8px rgba(0, 0, 0, 0.076), 0px 17.2px 21.2px rgba(0, 0, 0, 0.077), 0px 30.1px 37px rgba(0, 0, 0, 0.072), 0px 65px 80px rgba(0, 0, 0, 0.059);
}
.admin-login .login-pannel .title {
  text-align: center;
  color: rgb(88, 86, 214);
}

.joining-requests .container {
  margin-top: 2em;
}
.joining-requests h2 {
  margin-bottom: 1em;
}
.joining-requests .btn {
  padding: 0.25em 0.75em;
}
.joining-requests a .paginate_button {
  background-color: #999;
}

.tag {
  font-weight: 600;
  margin: 0 !important;
  text-decoration: underline;
}

.value {
  color: rgb(98, 98, 98);
}

.title {
  font-weight: 700;
  font-size: 2rem;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 250px;
  border: 1px solid rgb(199, 199, 199);
}
textarea:focus {
  border: 1px solid rgb(193, 216, 237);
  outline: none;
}

.fullname {
  cursor: pointer;
  display: inline;
  position: relative;
}
.fullname:hover {
  text-decoration: underline;
  font-weight: bold;
}

.trigger:hover > .dropmenu {
  display: block;
}

.dropmenu {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  z-index: 100;
  width: 300px;
  white-space: wrap;
  background-color: #eee !important;
  box-shadow: 0px 1.5px 1.9px rgba(0, 0, 0, 0.05), 0px 3.5px 4.3px rgba(0, 0, 0, 0.063), 0px 6.3px 7.7px rgba(0, 0, 0, 0.071), 0px 10.4px 12.8px rgba(0, 0, 0, 0.076), 0px 17.2px 21.2px rgba(0, 0, 0, 0.077), 0px 30.1px 37px rgba(0, 0, 0, 0.072), 0px 65px 80px rgba(0, 0, 0, 0.059);
  border-radius: 5px;
}
.dropmenu .drop-align {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  margin: 10px;
}
.dropmenu .drop-align button {
  width: 150px;
}
