body {
  background-color: #eee;
}
.row {
  max-width: 100vw;
}
.sidebar {
  min-height: 100vh;
  background-color: #222;
  flex-wrap: nowrap;
  .navbar-brand {
    margin-top: 2em;
    font-size: 2rem;
    a {
      color: white;
      transition: all 1s linear;
      text-decoration: none;
    }
  }
  .nav {
    width: 100%;
    > li {
      width: 100%;
      text-transform: capitalize;
      text-align: center;
      font-size: 1.25rem;
      padding-bottom: 0.5em;
      a {
        color: white;
        transition: all 300ms linear;
        .active {
          color: rgb(255, 69, 0);
        }
        &:hover {
          color: rgb(255, 69, 0);
          background-color: rgba(255, 255, 255, 0.075);
        }
      }
    }
  }
  .dropdown {
    width: 100%;
    margin-bottom: 2rem;
    .btn {
      display: flex;
      width: 60%;
      margin: 0 50%;
      transform: translateX(-50%);
      justify-content: center;
      background-color: transparent;
      border: none;
      > span {
        margin-right: 1em;
      }
    }
    .dropdown-menu {
      background-color: #eee;
      border-radius: 5px;
      border: none;
      text-align: center;
      .dropdown-item:hover {
        color: rgb(255, 69, 0);
        background-color: rgba(0, 0, 0, 0.075);
      }
    }
  }
}
.main {
  padding: 0;
}
